@charset "utf-8";
/* CSS Document */

/* ==================================*/
/* ======== global styles ===========*/
/* ==================================*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#container {
    min-height: 100vh;
    width: 100%; 
	max-width: 1200px; 
	margin: 0 auto;
    padding: 0em 1em 0em 1em;
}

/* Site Header */
header{
	background-color: #F9F9F9;
	font-family: arial;
	font-size: 130%;
}
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}
.logo {
	width: 3.7rem;
	margin: 1rem 0.7rem 1rem;
}
ul {
	padding: 0;
}
li {
	display: inline-block;
	padding: 0 1rem;
}
li a {
	color: black;
	text-decoration: none;
	border-radius: 5px;
	padding: 10px;
}
li a:hover {
	background-color: #DDA227
}
li a:active {
	background-color: #AF802C
}
.nav-toggle {
	display: none;
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	font-size: 2rem;
	cursor: pointer;
}
.open {
	height: 15em;
}
.hidden {
	display: none;
}

/* Hero Section */
.profile {
    color:#404040;
	font-size:105%;
	text-align:center;
	font-family:arial;
	width: 400px;
	margin:auto;
	padding-bottom: 40px;
}
.profile-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
	margin: 40px auto 20px;
}
.profile h1 {
    color:#121212;
	font-size:350%;
	text-align:center;
	padding-bottom:25px;
	letter-spacing: 5px;
  	font-family: "Inter Tight", sans-serif;
  	font-optical-sizing: auto;
  	font-weight:500;
  	font-style: normal;
}
.profile-btn {
	color: white;
	font-size: 100%;
	text-align: center;
	font-family: "Inter Tight", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0.5px;
	background-color: #242424;
	padding: 14px 7px;
	width: 120px;
	margin: 25px auto 40px;
	}
.profile-btn:hover {
	background-color: #DDA227;
		}
.profile-btn:active {
	background-color: #AF802C;
}
.profile a {
	text-decoration: none;
}

/* Blog Section */
.blog {
    margin: 20px 0;
}
.blog-posts {
    display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: column;
}
.blog-post {
    margin: 20px 0px;
    flex: 1;
    max-width: 100%;
}
.blog-post img {
    max-width: 100%;
    height: auto;
}
.blog h2 {
	font-size: 240%;
	font-weight: normal;
}
.blog-post h3 {
    margin: 10px 0px;
	font-size: 150%;
	font-weight: normal;
}
.blog a {
	text-decoration: none;
	color: black;
}
/* Footer */
footer {
	background-color: black;
	clear: both;
	color: white;
	text-align: center;
	padding: 60px;
	font-size: 125%;
}
/* Extras */
.emptyblock {
		height:50px;
}

/* ==================================*/
/* ========= phone styles ===========*/
/* ==================================*/

@media all and (max-width: 699px) {
	.homepost {
		display: none;
	}
	.homepost:first-of-type {
		display: block;
		max-width: 100%;
	}
	.container {
		flex-direction: column;
		align-items: flex-start;
	}
	nav {
		height: 0;
		width: 100%;
		overflow: hidden;
		transition: 250ms height ease-in-out;
	}
	li {
		display: block;
		text-align: center;
		padding: 1.5rem 0;
	}
	li a {
		font-size: 1.4rem;
	}
	.nav-toggle {
		display: block;
	}
}

/* ==================================*/
/* ========= tablet styles ==========*/
/* ==================================*/

@media all and (min-width: 700px) {
    .blog-posts {
        gap: 20px;
		flex-direction: row;
    }
    .blog-post {
        max-width: 45%;
		min-width: 30%
    }
}

/* ==================================*/
/* ========= About me CSS ===========*/
/* ==================================*/

.aboutme {
	max-width: 44rem;
	margin: auto;
	padding: 0rem 2rem;
	line-height: 2;
}
.aboutme h2 {
	font-size: 300%;
	font-weight: normal;
}
.aboutme img {
	display: block;
	margin: auto;
	max-width: 100%;
    height: auto;
	padding: 0px;
}

/* ==================================*/
/* ========= Blog page CSS ==========*/
/* ==================================*/

.blogpage h2 {
	font-size: 300%;
	font-weight: normal;
	text-align: center;
	padding: 2rem;
}
@media all and (max-width: 69px) {
	.blogposts {
		flex-direction: column;
	}
	
}

/* ==================================*/
/* ========== Gallery CSS ===========*/
/* ==================================*/

.gallerypage {
	color: white;
	background: #583E19 url("images/Asset 4.png") repeat left top;
}
.gallerypage header {
	background-color: #AF802C;
	border-bottom: 20px solid #F8ECB4;
}
.gallerypage a {
	color: white;
}
.gallerypage a:active {
	background-color: #8F6924;
}
.gallerypage footer {
	background-color: #070707;
	border-top: 20px solid black;
}
.gallery {
	margin-top:2rem;
	}
.gallery > div {
	columns:4;
	gap:1.25rem;
	padding-top:1.25rem;
	}
.gallery img {
	background-color: white;
	padding: 2px;
	display:block;
	width:100%;
	margin-bottom:1.25rem;
	}
.gallery h2 {
	font-size: 300%;
	font-weight: normal;
	text-align: center;
	padding: 2rem;
	}

@media (max-width:60rem) {
	.gallery > div {
		columns: 3;
	}
}

@media (max-width:48rem) {
	.gallery > div {
		columns: 2;
	}
}

/* ==================================*/
/* ========== Contact CSS ===========*/
/* ==================================*/

.contactpage {
	background-color: #624E37;
	color: white;
}
.contactpage header {
	background-color: #987A50;
	color: white;
	border-bottom: 20px solid #C6B298;
}
.contactpage a {
	color: white;
}
.contactpage a:hover {
	background-color: #7A6240;
}
.contact h2 {
	font-size: 200%;
	font-weight: normal;
	text-align: center;
	padding: 2rem;
}
.contact div {
	max-width: 44rem;
	margin: auto;
	padding: 0rem 2rem;
	line-height: 2;
	color: white;
}
.contactinfo {
	text-align: center;
}
.contactpage footer {
	background-color: #121212;
	border-top: 20px solid #0D0D0D;
}